<footer class="footer">
  <div class="footer-inner">

    <div class="footer-brand">
      <div class="footer-logo">
        {{#link 'help_center'}}
          <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
          {{#if settings.show_brand_name}}
            <span>{{help_center.name}}</span>
          {{/if}}
        {{/link}}
      </div>
      <div class="footer-social">
        <a href="https://www.reddit.com/r/USMobile/" aria-label="Reddit" class="footer-social-link" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M12 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0zm5.01 4.744c.688 0 1.25.561 1.25 1.249a1.25 1.25 0 0 1-2.498.056l-2.597-.547-.8 3.747c1.824.07 3.48.632 4.674 1.488.308-.309.73-.491 1.207-.491.968 0 1.754.786 1.754 1.754 0 .716-.435 1.333-1.01 1.614a3.111 3.111 0 0 1 .042.52c0 2.694-3.13 4.87-7.004 4.87-3.874 0-7.004-2.176-7.004-4.87 0-.183.015-.366.043-.534A1.748 1.748 0 0 1 4.028 12c0-.968.786-1.754 1.754-1.754.463 0 .898.196 1.207.49 1.207-.883 2.878-1.43 4.744-1.487l.885-4.182a.342.342 0 0 1 .14-.197.35.35 0 0 1 .238-.042l2.906.617a1.214 1.214 0 0 1 1.108-.701zM9.25 12C8.561 12 8 12.562 8 13.25c0 .687.561 1.248 1.25 1.248.687 0 1.248-.561 1.248-1.249 0-.688-.561-1.249-1.249-1.249zm5.5 0c-.687 0-1.248.561-1.248 1.25 0 .687.561 1.248 1.249 1.248.688 0 1.249-.561 1.249-1.249 0-.687-.562-1.249-1.25-1.249zm-5.466 3.99a.327.327 0 0 0-.231.094.33.33 0 0 0 0 .463c.842.842 2.484.913 2.961.913.477 0 2.105-.056 2.961-.913a.361.361 0 0 0 .029-.463.33.33 0 0 0-.464 0c-.547.533-1.684.73-2.512.73-.828 0-1.979-.196-2.512-.73a.326.326 0 0 0-.232-.095z"/>
          </svg>
        </a>
        <a href="https://x.com/usmobile" aria-label="X (Twitter)" class="footer-social-link" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-4.714-6.231-5.401 6.231H2.736l7.738-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
          </svg>
        </a>
        <a href="https://www.linkedin.com/company/usmobile" aria-label="LinkedIn" class="footer-social-link" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
          </svg>
        </a>
        <a href="https://www.facebook.com/usmobile" aria-label="Facebook" class="footer-social-link" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
          </svg>
        </a>
        <a href="https://www.instagram.com/usmobile" aria-label="Instagram" class="footer-social-link" target="_blank" rel="noopener">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="footer-links">
      <div class="footer-col">
        <h3 class="footer-col-heading">Our offerings</h3>
        <ul class="footer-col-list">
          <li><a href="https://www.usmobile.com/plans">Our plans</a></li>
          <li><a href="https://www.usmobile.com/networks">Networks</a></li>
          <li><a href="https://www.usmobile.com/international-roaming-phone-plans">International roaming</a></li>
          <li><a href="https://www.usmobile.com/business">For businesses</a></li>
          <li><a href="https://www.usmobile.com/shop/">Shop devices</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-col-heading">Account</h3>
        <ul class="footer-col-list">
          <li>Download the app<br><a href="https://apps.apple.com/us/app/us-mobile/id1460013401">App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.usmobile.dashboard&hl=en_US">Google Play Store</a></li>
          <li><a href="https://app.usmobile.com/dashboard/auth">Our web app</a></li>
          <li><a href="https://app.usmobile.com/dashboard/auth?signup=true">Create an account</a></li>         
        </ul>
      </div>
      <div class="footer-col">
        <h3 class="footer-col-heading">Company</h3>
        <ul class="footer-col-list">
          <li><a href="https://www.usmobile.com/about-us">About Us</a></li>
          <li><a href="https://www.usmobile.com/blog">Blog</a></li>
          <li><a href="https://www.usmobile.com/careers">Careers</a></li>
          <li><a href="https://www.usmobile.com/blog/news/company-updates/">Press</a></li>
        </ul>
        <h3 class="footer-col-heading footer-col-heading--spaced">Legal</h3>
        <ul class="footer-col-list">
          <li><a href="https://www.usmobile.com/return-policy">Return Policy</a></li>
          <li><a href="https://www.usmobile.com/legal">Terms of Service</a></li>
          <li><a href="https://www.usmobile.com/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-inner">
      <p class="footer-copyright">&copy; 2025 US Mobile. All rights reserved.</p>
      <div class="footer-language-selector">
        {{#if alternative_locales}}
          <div class="dropdown language-selector">
            <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
              {{current_locale.name}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
              </svg>
            </button>
            <span class="dropdown-menu dropdown-menu-end" role="menu">
              {{#each alternative_locales}}
                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                  {{name}}
                </a>
              {{/each}}
            </span>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</footer>
